#root {
  /* max-width: 1280px; */
  min-width: 100%;
  background-color: rgba(38, 58, 190, 0.66);
}


/* my code */
.container {
  position: relative;
  font-family: Arial;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 10px;
  background-color: rgba(54, 5, 5, 0.205);
  border-radius: 20%;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  max-height: 200px;
}
.heading{
  background-color: rgb(118, 84, 231);
  border-radius: 20px;
  color: white;
  min-height: 8vh;
  min-width: 100%;
  font-style:oblique;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 10%;
  margin: 10px;
  display: flex;
  justify-content:flex-start;
}
.TableHead{
  color: rgb(47, 66, 193);
  text-align: right;
  font: bold 16px/40px Georgia, serif;
  letter-spacing: 0.3em; 
}
.media{
  padding-bottom: 10px;
}
p{
  color: rgba(11, 4, 109, 0.825);
  font-family:cursive;
  font-size: 15px;
  font-weight: 700;
}
u{
  font-weight: 700;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: darkblue;
  font-style: italic;
  
}
